.container {
    & > * {
        &:not(:first-child) {
            margin-top: 60px;
        }
    }
    .wrapper {
        position: relative;
        .title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            font-size: 16px;
            letter-spacing: 2px;
        }
        .first-title {
            transform: translateX(-50%) translateY(-60%);
        }
        img {
            width: 100%;
            height: 180px;
        }
        .first {
            height: 150px;
        }
        .second {
            height: 220px;
        }
        .third {
            height: 200px;
        }
        .fourth {
            height: 236px;
        }
        .device-statistic {
            position: absolute;
            top: 10px;
            .pie-chart {
                position: absolute;
                left: 20px;
            }
            .detail {
                position: absolute;
                width: 200px;
                top: 10px;
                left: 160px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 20px;
                .box {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                    .intro {
                        font-size: 12px;
                        display: flex;
                        flex-direction: column;
                        .count {
                            font-size: 20px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .device-statistic-second {
            position: absolute;
            top: 24px;
            left: 50%;
            transform: translateX(-50%);
            width: 340px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            row-gap: 8px;
            column-gap: 40px;
            .box {
                display: flex;
                align-items: center;
                gap: 12px;
                img {
                    width: 54px;
                    height: 54px;
                }
                .intro {
                    .name {
                        color: rgba(182, 182, 182, 0.699);
                        font-size: 12px;
                    }
                    .count {
                        font-size: 24px;
                        font-weight: 600;
                    }
                }
            }
        }
        .device-status {
            .pie-chart {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            .tips {
                display: flex;
                position: absolute;
                top: 160px;
                left: 50%;
                transform: translateX(-50%);
                width: 280px;
                justify-content: space-around;
                .box {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .color {
                        width: 14px;
                        height: 14px;
                    }
                    .blue {
                        background: linear-gradient(to bottom, #0763c5, #0042bd);
                    }
                    .yellow {
                        background: linear-gradient(to bottom, #fbba06, #f07117);
                    }
                    .green {
                        background: linear-gradient(to bottom, #00e6b8, #006e58);
                    }
                    .content {
                        font-size: 14px;
                    }
                }
            }
        }
        .fault-detection {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            .bar-option {
                position: absolute;
            }
        }
    }
}

.container-right {
    & > * {
        &:not(:first-child) {
            margin-top: 60px;
        }
    }
    .wrapper-right {
        position: relative;
        ::-webkit-scrollbar {
            display: none;
        }
        .title {
            position: absolute;
            left: 50%;
            font-size: 16px;
            letter-spacing: 2px;
            transform: translateX(-30%) translateY(-50%);
        }
        .second-title,.third-title {
            transform: translateX(-30%) translateY(-30%);
        }
        img {
            width: 90%;
            height: 200px;
            display: block;
            margin-left: 40px;
        }
        .right-second {
            height: 340px;
        }
        .third {
            height: 346px;
        }
        .detect {
            position: absolute;
            top: 20px;
            display: flex;
            img {
                width: 170px;
                height: 110px;
                position: absolute;
                top: 20px;
                left: 40px;
            }
            .data {
                color: #52d4ff;
                font-size: 22px;
                font-weight: 900;
                position: absolute;
                top: 60px;
                left: 150px;
            }
            .info {
                display: flex;
                flex-direction: column;
                width: 260px;
                height: 200px;
                position: absolute;
                top: 20px;
                left: 180px;
                .item {
                    height: 80px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .title {
                        font-size: 14px;
                    }
                    .detail {
                        margin-top: 16px;
                        font-size: 26px;
                        font-weight: 600;
                    }
                    .elevator {
                        color: #fff600;
                    }
                    .failure {
                        color: #5695ff;
                    }
                    .unit {
                        font-size: 14px;
                        color: white;
                        font-weight: 400;
                        margin-left: 4px;
                    }
                }
            }
        }
        .status-case {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            .header {
                display: flex;
                font-size: 12px;
                width: 200px;
                justify-content: space-around;
                position: absolute;
                top: 34px;
                left: 50%;
                transform: translateX(-38%);
                .tip {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    .color {
                        width: 12px;
                        height: 12px;
                    }
                    .online {
                        background: linear-gradient(to right, #3188fd, #34b6ff);
                    }
                    .offline {
                        background: linear-gradient(to right, #fbad7e, #f6c96b);
                    }
                }
            }
            .bar-chart {
                position: absolute;
                left: 50%;
                transform: translateX(-40%);
            }
        }
        .table {
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-44%);
            ::-webkit-scrollbar {
                display: none;
            }
            .header {
                display: grid;
                width: 280px;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                border: 1px solid #3592de;
                padding: 4px 16px;
                background-color: #134582;
                .content {
                    width: 70px;
                    font-size: 12px;
                    color: #76c1ff;
                    text-align: center;
                }
            }
            .table-data {
                display: flex;
                flex-direction: column;
                row-gap: 4px;
                height: 250px;
                overflow: scroll;
                cursor: pointer;
                .column {
                    display: grid;
                    align-items: center;
                    width: 280px;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    font-size: 12px;
                    padding: 6px 16px;
                    background-color: #5c9efa27;
                    .name,
                    .position,
                    .level,
                    .time {
                        width: 70px;
                        font-size: 12px;
                        text-align: center;
                    }
                    .low {
                        color: #71c5ff;
                    }
                    .mid {
                        color: #fea116;
                    }
                    .high {
                        color: #ff0000;
                    }
                }
                .column:hover {
                    background-color: #013c90b1;
                    color: #05fbff;
                }
            }
        }
    }
}
